
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <a asp-controller="Course" asp-action="Display">Display</a>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @ViewBag.id :: @ViewBag.name
</body>
</html>
